section{display:block}
html{font-size:100%;overflow-y:scroll;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}
body,button,input,select,textarea{color:#fafafa;}
::-moz-selection{background:#333;color:#fefefe;text-shadow:none}
::selection{background:#fefefe;color:#8da983;text-shadow:none}
a{color:#fafafa;transition:text-shadow .1s linear;text-decoration:none;border-bottom:1px dotted whitesmoke;}
a:visited{color: #f6f6f6;}
a:focus{outline:thin dotted}
a:hover,a:active{outline:0;text-shadow:#374141 0 0 30px;}

@media print{*{background:transparent !important;color:#000 !important;text-shadow:none !important;filter:none !important;-ms-filter:none !important}
a,a:visited{text-decoration:underline}
a[href]:after{content:" (" attr(href) ")"}
abbr[title]:after{content:" (" attr(title) ")"}
.ir a:after,a[href^="javascript:"]:after,a[href^="#"]:after{content:""}
pre,blockquote{border:1px solid #999;page-break-inside:avoid}
thead{display:table-header-group}
tr,img{page-break-inside:avoid}
img{max-width:100% !important}
@page{margin:.5cm}
}

html,body{background-color:#89a2a2;height:100%;}
body{font-family:Helvetica,Arial,sans-serif;font-size:13px;line-height:1.231;}
body{cursor:default;font-size:110%;line-height:1.3;margin:0 auto;width:50%;min-width:205px;padding:0 2em 0 2em;}
p{margin:.5em 0;}
#intro{font-size:140%;padding-top:3em;}
#contacts{font-size:80%;padding-top: 1em;color:#6d8182;}
#contacts a, #contacts a:visited, #contacts a:link, #contacts a:hover, #contacts a:active {color:#6d8182;border: none;text-shadow: none;}
#links{color:#fafafa;line-height:1.4;font-style:italic;}
#hello{letter-spacing:-0.05em;margin:.8em 0 0 0;font-weight:bold;}
#hello .name{letter-spacing:0;}
#truefact{font-size:90%;}
.wf-inactive #links{font-family:Baskerville,"Times New Roman",serif;line-height:1.2;}
.wf-active #links{font-family:"PT Serif",Baskerville,"Times New Roman",serif;}
