---
layout: none
---
<!doctype html>
<html class="home" lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Software consulting & MVP development services">
  <title>Anton Strogonoff</title>
  <link rel="stylesheet" href="{{ "css/main.css" | relative_url }}">
  <link rel="preload" href="{{ "assets/a14f.js" | relative_url }}" as="script">
  <link rel="preload" href="{{ "assets/offer.js" | relative_url }}" as="script">
</head>

<body>
  {{ content }}
</body>
