---
layout: none
---
<!doctype html>
<html class="home" lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="Software consulting & MVP development services">

  <meta property="og:url" content="https://anton.strogonoff.name/">
  <meta property="og:site_name" content="Anton Strogonoff">

  <meta name="google-site-verification" content="EuT8J1SwiGCtx00tH9KWRiYjSe9fylXbeJ22dW9Atj0" />

  <title>Anton Strogonoff</title>
  <link rel="stylesheet" href="{{ "css/main.css" | relative_url }}">
  <link rel="preload" href="{{ "assets/a14f.js" | relative_url }}" as="script">
  <link rel="preload" href="{{ "assets/offer.js" | relative_url }}" as="script">
</head>

<body>
  {{ content }}
</body>
